{%extends 'index_dashboard.html'%}
{%load staticfiles%}

{%block link%}
{%endblock link%}

{%block body%}
<form method="GET" id="FORM">
    {%csrf_token%}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Busqueda de pacientes</h4>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group mb-3">
                                        <input type="text" list="info_persona" class="form-control" id="nametext"
                                               value=""
                                               name="nombre"
                                               aria-describedby="name"
                                               placeholder="Ej: Juan Pedro Monserrat o Juan">
                                        <datalist id="info_persona">
                                            {%for list_persona in datalist_persona%}
                                            <option value="{{list_persona.nombre}} {{list_persona.apellido}}">
                                                {%endfor%}
                                        </datalist>
                                        <button type="submit"
                                                class="btn waves-effect waves-light btn-outline-primary"
                                                data-toggle="modal"
                                                data-target="#staticBackdrop"><i class="fas fa-search"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Listado de pacientes</h4>
            <!--<h6 class="card-subtitle">To use add class <code>.bg-success .text-white</code> in the
                <code>&lt;thead&gt;</code>.</h6>-->
            <h6 class="card-subtitle">Lista de pacientes registrados en el sistema</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-primary text-white">
                    <tr>
                        <th>Nombre(s)</th>
                        <th>Apellido(s)</th>
                        <th>Telefono</th>
                        <th>Municipio</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for list_persona in model_persona%}
                    <tr>
                        <td>{{list_persona.nombre}}</td>
                        <td>{{list_persona.apellido}}</td>
                        <td>{{list_persona.telefono}}</td>
                        <td>{{list_persona.municipio}}</td>
                        <td>
                            <a href="">
                                <button type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-primary"><i
                                        class="fas fa-pencil-alt"></i></button>
                            </a>
                            <a href="">
                                <button type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-danger"><i
                                        class="far fa-trash-alt"></i></button>
                            </a>
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{%if persona%}
<div class="container-fluid">
    <h1 class="mt-4">Listado de pacientes</h1>
    <div class="container list-backgroud-custom-opacity">
        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">DPI</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for listar_persona in persona%}
                    <tr>
                        <th scope="row">{{listar_persona.NOMBRE}}</th>
                        <td>{{listar_persona.APELLIDO}}</td>
                        <td>{{listar_persona.DPI}}</td>
                        <td>{{listar_persona.TELEFONO}}</td>
                        <td>{{listar_persona.FK_MUNICIPIO.NOMBRE}}</td>
                        <td>
                            <a href="{%url 'clinic:update_persona' listar_persona.PK_PERSONA%}"
                               class="a-custom">Editar</a>
                        </td>
                        <td>
                            <a href="{%url 'clinic:delete_persona' listar_persona.PK_PERSONA%}" class="a-custom">Eliminar</a>
                        </td>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="cl-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-left">
                    {%if persona.has_previous%}
                    <div class="clearfix">
                        <a href="?page={{persona.previous_page_number}}{%if request.GET.search%}&q={{request.GET.search}}{%endif%}"
                           class="btn a-custom float-left">Anterior</a>
                    </div>
                    {%endif%}
                </div>
            </div>
            <div class="cl-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-right">
                    {%if persona.has_next%}
                    <div class="clearfix">
                        <a href="?page={{persona.next_page_number}}{%if request.GET.search%}&q={{request.GET.search}}{%endif%}"
                           class="btn a-custom float-right">Siguiente</a>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>

{%else%}
<div class="container-fluid">
    <h1 class="mt-4">Listado de pacientes</h1>
    <div class="container backgroud-custom-opacity">
        <h2 class="mt-4">No hay informacion <i class="fas fa-info-circle"></i></h2>
    </div>
</div>
{%endif%}
<!-- /#page-content-wrapper -->
{%endblock body%}