#Aplications/Clinic/admin.py
#Aplications/Clinic/forms.py
#Aplications/Clinic/views.py
#Aplications/Clinic/urls.py
#Aplications/Clinic/models.py
#Templates/Clinic/Persona/delete_persona.html
#Templates/Clinic/Persona/read_persona.html
#Templates/Clinic/Persona/update_persona.html
#Templates/index.html
#Templates/login.html
#static/Tools
#static/css/style.css
#Templates/Clinic/Persona/create_persona.html
#Templates/dashboard.html
#static/css/dashboard.css
#static/css/forms.css
#static/css/simple-sidebar.css
