{%extends 'index_dashboard.html'%}
{%load staticfiles%}

{%block link%}
{%endblock link%}

{%block body%}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Historial clinico</h4>
            <!--<h6 class="card-subtitle">To use add class <code>.bg-success .text-white</code> in the
                <code>&lt;thead&gt;</code>.</h6>-->
            <h6 class="card-subtitle">Historial clinico para completar informacion de la cita</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-primary text-white">
                    <tr>
                        <th>Nombre</th>
                        <th>Paciente</th>
                        <th>Motivo consulta</th>
                        <th>Antecedente</th>
                        <th>Examen fisico</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {%if model_historial_clinico%}
                        <td>{{model_historial_clinico.fk_persona.nombre}}
                            {{model_historial_clinico.fk_persona.apellido}}
                        </td>
                        <!--condicional para verificar si ya se creo o no se ha creado color ver para ya creado y anarajado para no-->
                        {%if model_historial_clinico.fk_persona is None%}
                        <td>
                            <a href="">
                                <button type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-secondary"><i
                                        class="fas fa-file-medical-alt"></i></button>
                            </a>
                        </td>
                        {%else%}
                        <td>
                            <a href="">
                                <button type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-success"><i
                                        class="fas fa-user-injured"></i></button>
                            </a>
                        </td>
                        {%endif%}
                        <!--segunda condicional para motivo-->
                        {%if model_historial_clinico.fk_consulta is None%}
                        <td>
                            <a href="{%url 'clinic:create_consulta' model_historial_clinico.pk_historial_clinico%}">
                                <button type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-secondary"><i
                                        class="far fa-clipboard"></i></button>
                            </a>
                        </td>
                        {%else%}
                        <td>
                            <a href="{%url 'clinic:update_consulta' model_historial_clinico.fk_consulta.pk_consulta%}">
                                <button type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-success"><i
                                        class="fas fa-notes-medical"></i></button>
                            </a>
                        </td>
                        {%endif%}
                        <!--tercera condicional para antecedente-->
                        {%if model_historial_clinico.fk_antecendente is None%}
                        <td>
                            <a href="{%url 'clinic:create_antecedente' model_historial_clinico.pk_historial_clinico 0%}">
                                <button type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-secondary"><i
                                        class="far fa-clipboard"></i></button>
                            </a>
                            <a href="{%url 'clinic:create_antecedente' model_historial_clinico.pk_historial_clinico 1%}">
                                <button type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-secondary"><i
                                        class="fas fa-baby-carriage"></i></button>
                            </a>
                        </td>
                        {%else%}
                        <td>
                            <a href="">
                                <button type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-secondary"><i
                                        class="fas fa-baby-carriage"></i></button>
                            </a>
                            <a href="">
                                <button type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-success"><i
                                        class="fas fa-notes-medical"></i></button>
                            </a>
                        </td>
                        {%endif%}
                        <!--cuarta condicional para examen fisico-->
                        {%if model_historial_clinico.fk_examen_fisico is None%}
                        <td>
                            <a href="{%url 'clinic:create_examen_fisico' model_historial_clinico.pk_historial_clinico%}">
                                <button type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-secondary"><i
                                        class="far fa-clipboard"></i></button>
                            </a>
                        </td>
                        {%else%}
                        <td>
                            <a href="{%url 'clinic:update_examen_fisico' model_historial_clinico.fk_examen_fisico.pk_examen_fisico%}">
                                <button type="button"
                                        class="btn waves-effect waves-light btn-rounded btn-success"><i
                                        class="fas fa-notes-medical"></i></button>
                            </a>
                        </td>
                        {%endif%}
                    </tr>
                    {%endif%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$( document ).ready(function() {

    var now = new Date();

    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    $("#fecha").val(today);
});





</script>
{%endblock body%}