{%load staticfiles%}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ClinicaDr.Pineda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="https://i.postimg.cc/L67qcnHq/logo.png">
    <!-- Animate.css -->
    <link rel="stylesheet" href="{%static 'medicare/css/animate.css'%}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{%static 'medicare/css/icomoon.css'%}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{%static 'medicare/css/bootstrap.css'%}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{%static 'medicare/css/magnific-popup.css'%}">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="{%static 'medicare/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{%static 'medicare/css/owl.theme.default.min.css'%}">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="{%static 'medicare/css/flexslider.css'%}">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="{%static 'medicare/fonts/flaticon/font/flaticon.css'%}">
    <!-- Theme style  -->
    <link rel="stylesheet" href="{%static 'medicare/css/style.css'%}">

    <!-- Modernizr JS -->
    <script src="{%static 'medicare/js/modernizr-2.6.2.min.js'%}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{%static 'medicare/js/respond.min.js'%}"></script>
    <![endif]-->

</head>
<body>

<div class="colorlib-loader"></div>

<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="top">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="colorlib-logo"><a href="{%url 'index'%}"><i
                                            class="flaticon-stethoscope"></i>Clinica Medica
                                        <span>Dr.Pineda Peñate</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="num">
                                        <span class="icon"><i class="icon-phone"></i></span>
                                        <p><a href="#">Llamanos al:</a><br><strong><a href="#">5698-7620</a><br><a href="#">4518-5675</a></strong></p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="loc">
                                        <span class="icon"><i class="icon-location"></i></span>
                                        <p><a href="#">7av. 3-31 Zona 1 Apartamento "A" frente a Energuate</a></p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    {%if model_control_clinica.estado_servicio%}
                                    <div class="loc">
                                        <span class="icon"><i class="fas fa-door-open"></i></span>
                                        <p><strong><a href="#">Se esta atendiedo pasa a realiza tu consulta o llamanos</a></strong></p>
                                    </div>
                                    {%else%}
                                    <div class="loc">
                                        <span class="icon"><i class="fas fa-door-closed"></i></span>
                                        <p><strong><a href="#">Disculpanos en estos momentos la clinica no esta atendiendo</a></strong></p>
                                    </div>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="menu-1">
                                <ul>
                                    <li class="active"><a href="{%url 'index'%}">Inicio</a></li>
                                    <!--
                                    <li class="has-dropdown">
                                        <a href="">Doctor</a>
                                        <ul class="dropdown">
                                            <li><a href="">Single Doctor</a></li>
                                        </ul>
                                    </li>
                                    -->
                                    <li><a href="{%url 'servicios'%}">Servicios</a></li>
                                    <!--
                                    <li class="has-dropdown">
                                        <a href="">Departamentos</a>
                                        <ul class="dropdown">
                                            <li><a href="">Departamento de sirugia plastica</a>
                                            </li>
                                            <li><a href="">Departamento dental</a></li>
                                            <li><a href="">Departamento de terapia</a></li>
                                        </ul>
                                    </li>
                                    -->
                                    <!--
                                    <li class="has-dropdown">
                                        <a href="">Blog</a>
                                        <ul class="dropdown">
                                            <li><a href="">Single Blog</a></li>
                                        </ul>
                                    </li>
                                    -->
                                    <li><a href="{%url 'contacto'%}">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p class="btn-cta"><a href="{%url 'dashboard'%}"><span>inicio sesion <i
                                    class="fas fa-sign-in-alt"></i></span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {%block body%}
    <aside id="colorlib-hero">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url(https://image.freepik.com/foto-gratis/cirujanos-que-realizan-operacion-sala-operacion_1170-2224.jpg);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-md-pull-2 slider-text">
                                <div class="slider-text-inner">
                                    <h1>Dr. <strong>Fernando Pineda Peñate</strong></h1>
                                    <h2 class="doc-holder">Dr. Fernando Pineda Peñate Médico especialista en cirugía
                                        general.</h2>
                                    <h2>Puedes realizar tus consultas en la sección de contacto.</h2>
                                    <p><a class="btn btn-primary btn-lg" href="">Contacto</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(https://i.postimg.cc/cJWq2XGv/paciente-masculino-acostado-diagnostico-ultrasonido-7502-3715.jpg);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-md-pull-2 slider-text">
                                <div class="slider-text-inner">
                                    <h1>Servicio de <strong>ultrasonidos</strong></h1>
                                    <h2 class="doc-holder">Servicio de ultrasonido para hombre y mujer!</h2>
                                    <h2>Para diagnosticar las causas de dolor, hinchazón e infección en los órganos
                                        internos del cuerpo y mas.</h2>
                                    <p><a class="btn btn-primary btn-lg" href="">Contacto</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(https://i.postimg.cc/jSKRNs3w/doctor-in-mask-examining-patient.jpg);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-md-pull-2 slider-text">
                                <div class="slider-text-inner">
                                    <h1>Servicio de <strong>consulta general medica</strong></h1>
                                    <h2 class="doc-holder">Por que tu salud es nuestra proridad!</h2>
                                    <h2>Para la evaluación de la salud del paciente y registro de historial médico para
                                        un mejor control de tu salud.</h2>
                                    <p><a class="btn btn-primary btn-lg btn-learn" href="">Contacto</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(https://i.postimg.cc/c4y1c7kb/team-of-surgeons-performing-operation-in-operation-theater.jpg);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-md-pull-2 slider-text">
                                <div class="slider-text-inner">
                                    <h1>Especilidad <strong>quirúrgica</strong></h1>
                                    <h2 class="doc-holder">Operaciones de diferentes tipos!</h2>
                                    <h2>Atencion al cliente en cirugia general tu salud en buenas manos.</h2>
                                    <p><a class="btn btn-primary btn-lg btn-learn" href="">Contacto</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>

    <div id="colorlib-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="intro animate-box">
                        <div class="intro-grid color-1">
                            <span class="icon"><i class="fas fa-hospital fa-7x"></i></span>
                            <h3>Clinica medica </h3>
                            <p>7av. 3-31 Zona 1 Apartamento "A" frente a Energuate.</p>
                            <a href="#">Mas informacion</a>
                        </div>
                        <div class="intro-grid color-2">
                            <span class="icon"><i class="fas fa-notes-medical fa-7x"></i></span>
                            <h3>Ulceras</h3>
                            <p>Tratamiento para disminuir la producción de ácido estomacal.</p>
                            <a href="#">Mas informacion</a>
                        </div>
                        <div class="intro-grid color-2">
                            <span class="icon"><i class="fas fa-notes-medical fa-7x"></i></span>
                            <h3>Electrocardiograma</h3>
                            <p>Representación gráfica de la actividad eléctrica del corazón.</p>
                            <a href="#">Mas informacion</a>
                        </div>
                        <div class="intro-grid color-3">
                            <span class="icon"><i class="fas fa-notes-medical fa-7x"></i></span>
                            <h3>Quistes</h3>
                            <p>Tratamiento para remover quistes.</p>
                            <a href="#">Mas informacion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive about-img"
                         src="https://i.postimg.cc/BvS9Z5zn/unrecognizable-female-doctor-filling-in-document-and-patient-sitting-on-couch.jpg"
                         alt="">
                </div>
                <div class="col-md-7 col-md-push-1">
                    <h2>Sobre nosotros</h2>
                    <p>
                        Somos una clínica médica dedicada a curar malestares de nuestros clientes para tu bienestar y
                        tus familiares.
                    </p>
                    <div class="fancy-collapse-panel">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                           aria-expanded="true" aria-controls="collapseOne">Porque elegirnos?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>Utilizamos tecnologia para mantener un registro sobre tu historial
                                                    medico. </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Historial medico para ayudar a brindar un mejor servicio y una rapida
                                                    consulta.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Que
                                            realizamos?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>El Dr. <strong>Fernando Pineda Peñate</strong>, medico y cirujano con
                                            <strong>Especilida en cirugia general</strong> te atendera con algunos de
                                            los servicios:</p>
                                        <ul>
                                            <li>Tratamiento del apéndice.</li>
                                            <li>Tratamiento de vesícula.</li>
                                            <li>Tratamiento de hernias.</li>
                                            <li>Tratamiento de quistes.</li>
                                            <li>Tratamiento de lunares.</li>
                                            <li>Tratamiento de ulceras.</li>
                                            <li>Ultrasonidos.</li>
                                            <li>Y muchos mas.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Salud
                                            y Tecnología
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>El <strong>Sistema web</strong>, Permite llevar un control de tu salud para
                                            consultas más rápidas asegurándonos que tengas la mejor salud posible en tu
                                            día a día, control de citas para que no pierdas el número de paciente que se
                                            aten tendera y podrás ver cuando estemos atendiendo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-appointment">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="line-block">Haga su cita</h2>
                    <p class="line-block"><a href="#" class="btn btn-primary btn-outline btn-cta">Contacto <i
                            class="fas fa-address-book"></i></a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-services">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
                    <h2>Nuestros servicios</h2>
                    <p>Una breve descripción de nuestros servicios que realizamos.</p>
                </div>
            </div>
            <div class="row">
                {%for list_model_servicio in model_servicio%}
                <div class="col-md-4 col-lg-6 animate-box">
                    <div class="services">
						<span class="icon">
							<i class="fas fa-file-signature"></i>
						</span>
                        <div class="desc">
                            <h3><a href="#">{{list_model_servicio.nombre}}</a></h3>
                            <p>{{list_model_servicio.brev_descripcion}}</p>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>

    <div id="colorlib-choose">
        <div class="container-fluid">
            <div class="row">
                <div class="choose">
                    <div class="half img-bg"
                         style="background-image: url(https://i.postimg.cc/W1rKHFp4/sistem-virtual.jpg);"></div>
                    <div class="half features-wrap">
                        <div class="colorlib-heading animate-box">
                            <h2>Calidad en cada una de tus consultas</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="features animate-box">
                                    <span class="icon text-center"><i class="flaticon-healthy-1"></i></span>
                                    <div class="desc">
                                        <h3>Doctor altamente calificado</h3>
                                        <p>El Dr. Fernando Pineda es médico y cirujano con especialidad en cirugía
                                            general. </p>
                                    </div>
                                </div>
                                <div class="features animate-box">
                                    <span class="icon text-center"><i class="flaticon-stethoscope"></i></span>
                                    <div class="desc">
                                        <h3>Control de citas</h3>
                                        <p>El sistema clinico web permite ver la cantidad de citas que estan en
                                            espera. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="features animate-box">
                                    <span class="icon text-center"><i class="flaticon-medical-1"></i></span>
                                    <div class="desc">
                                        <h3>Historial medico</h3>
                                        <p>El sistema clinico web guarda tu historial medico para futuras consultas y
                                            avances de tu salud. </p>
                                    </div>
                                </div>
                                <div class="features animate-box">
                                    <span class="icon text-center"><i class="flaticon-radiation"></i></span>
                                    <div class="desc">
                                        <h3>A futuro</h3>
                                        <p>Le sistema te brindara informacion sobre el recetario de forma digital en
                                            caso de extravio el documento fisico.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="colorlib-doctor">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
                    <h2>Nuestro personal</h2>
                    <p>Por que tu salud es primero el Dr. Doctor Pineda Peñate y el enfermero
                        Francisco Cristobal te atenderan.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 animate-box text-center">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 animate-box text-center">
                    <div class="doctor">
                        <div class="staff-img"
                             style="background-image: url(https://i.postimg.cc/L85RzFRM/pineda.jpg);"></div>
                        <div class="desc">
                            <h3><a href="#">Dr. Fernando Pineda</a></h3>
                            <span>Medico y cirujano. Especialista en cirugia general</span>
                            <ul class="colorlib-social">
                                <li>
                                    <a href="https://www.facebook.com/pages/category/Medical---Health/Clinica-Medica-Dr-Fernando-Pineda-Cirugia-General-117503772967206/"><i
                                            class="icon-facebook2"></i></a></li>
                                <li><a href="#"><i class="icon-twitter2"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 animate-box text-center">
                    <div class="doctor">
                        <div class="staff-img"
                             style="background-image: url(https://i.postimg.cc/YS9hrN7f/100754826-3017227921702055-7792838968814338048-o.jpg);"></div>
                        <div class="desc">
                            <h3><a href="#">Enf. Francisco Cristobal</a></h3>
                            <span>Enfermero certificado</span>
                            <ul class="colorlib-social">
                                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                                <li><a href="#"><i class="icon-twitter2"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 animate-box text-center">
                </div>
                <!--
                <div class="col-md-3 col-sm-6 col-xs-12 animate-box text-center">
                    <div class="doctor">
                        <div class="staff-img"
                             style="background-image: url({%static 'medicare/images/staff-3.jpg'%});"></div>
                        <div class="desc">
                            <h3><a href="#">Dr. Peter Parker</a></h3>
                            <span>Health Care</span>
                            <ul class="colorlib-social">
                                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                                <li><a href="#"><i class="icon-twitter2"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 animate-box text-center">
                    <div class="doctor">
                        <div class="staff-img"
                             style="background-image: url({%static 'medicare/images/staff-1.jpg'%});"></div>
                        <div class="desc">
                            <h3><a href="#">Dr. Liza Thomas</a></h3>
                            <span>Patient Services Manager</span>
                            <ul class="colorlib-social">
                                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                                <li><a href="#"><i class="icon-twitter2"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>

    <div id="colorlib-counter" class="colorlib-counters"
         style="background-image: url({%static 'medicare/images/img_bg_2.jpg'%});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 text-center animate-box">
                            <span class="icon"><i class="flaticon-healthy"></i></span>
                            <span class="colorlib-counter js-counter" data-from="0" data-to="{{number_satisfacion}}"
                                  data-speed="5000"
                                  data-refresh-interval="9"></span>
                            <span class="colorlib-counter-label">Pacientes satisfechos</span>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center animate-box">
                            <span class="icon"><i class="flaticon-hospital"></i></span>
                            <span class="colorlib-counter js-counter" data-from="0" data-to="1" data-speed="5000"
                                  data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Centros medicos</span>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center animate-box">
                            <span class="icon"><i class="flaticon-healthy-1"></i></span>
                            <span class="colorlib-counter js-counter" data-from="0" data-to="2" data-speed="5000"
                                  data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Personal calificado</span>
                        </div>
                        <div class="col-md-3 col-sm-6 text-center animate-box">
                            <span class="icon"><i class="flaticon-ambulance"></i></span>
                            <span class="colorlib-counter js-counter" data-from="0" data-to="{{number_servicio}}"
                                  data-speed="50"
                                  data-refresh-interval="1"></span>
                            <span class="colorlib-counter-label">Servicios</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-blog">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
                    <h2>Blogs mas recientes</h2>
                    <p>Temas importantes realiacionados con el bienestar de las personas, enfermedades, etc.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-entry">
                        <a href="" class="blog-img"
                           style="background-image: url({%static 'medicare/images/blog-1.jpg'%});">
                            <p class="date">
                                <span>1</span>
                                <span>Feb. 2017</span>
                            </p>
                        </a>
                        <div class="desc">
                            <h3><a href="">He aquí por qué el yoga es mejor para tu salud</a></h3>
                            <p>El yoga fluye por su lugar del cuerpo tensa y lo suministra con la relagacion
                                necesaria. </p>
                            <p><a href="#">Mas informacion <i class="icon-arrow-right3"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <a href="" class="blog-img"
                           style="background-image: url({%static 'medicare/images/blog-2.jpg'%});">
                            <p class="date">
                                <span>31</span>
                                <span>Jan. 2020</span>
                            </p>
                        </a>
                        <div class="desc">
                            <h3><a href="">Vive mejor conoce tu tecnología médica</a></h3>
                            <p>La tecnologia y la ciencia medica ayudando al mismo proposito.</p>
                            <p><a href="#">Mas informacion <i class="icon-arrow-right3"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <a href="" class="blog-img"
                           style="background-image: url({%static 'medicare/images/blog-3.jpg'%});">
                            <p class="date">
                                <span>30</span>
                                <span>Jan. 2020</span>
                            </p>
                        </a>
                        <div class="desc">
                            <h3><a href="">Comer manzana es la fuente de energía</a></h3>
                            <p>La manzana como fuente de proteina de alta calidad y factor nutricional.</p>
                            <p><a href="#">Mas informacion <i class="icon-arrow-right3"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="colorlib-register" style="background-image: url({%static 'medicare/images/img_bg_1.jpg'%});"
         data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 animate-box">
                    <div class="date-counter text-center">
                        <h2>Por ahora no hay <strong>Ofertas</strong></h2>
                        <h3>En la <strong>Clinica Medica Dr. Pineda</strong></h3>
                        <p class="countdown">
                            <span id="days"></span>
                            <span id="hours"></span>
                            <span id="minutes"></span>
                            <span id="seconds"></span>
                        </p>
                        <p><strong>Oferta limitada, apresurate!</strong></p>
                        <p><a href="#" class="btn btn-primary btn-lg">Contacto <i
                                class="fas fa-address-book"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-testimonial" class="colorlib-bg-section">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
                    <h2>Que dicen nuestros pacientes</h2>
                    <p>Cada uno de los comentarios realizados por nuestros pacientes son importantes para nosotros.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animate-box">
                    <div class="owl-carousel">
                        {%for list_model_historial_clinico in model_historial_clinico%}
                        <div class="item">
                            <div class="testimony text-center">
                                {%if list_model_historial_clinico.fk_nps.respuesta == 5%}
                                <blockquote>
                                    <span class="img-user" style="color: #5ED615;"
                                          ><i class="fas fa-user-injured fa-6x"></i></span>
                                    <span class="user">{{list_model_historial_clinico.fk_persona.nombre}}</span>
                                    <p>"Ha calificado nuestro servicio con 5 estrellas."</p>
                                    <p class="color">
                                        <span><i class="icon-star3"></i></span>
                                        <span><i class="icon-star3"></i></span>
                                        <span><i class="icon-star3"></i></span>
                                        <span><i class="icon-star3"></i></span>
                                        <span><i class="icon-star3"></i></span>
                                    </p>
                                </blockquote>
                                {%elif list_model_historial_clinico.fk_nps.respuesta == 4%}
                                <blockquote>
                                    <span class="img-user" style="color: #5ED615;"
                                          ><i class="fas fa-user-injured fa-6x"></i></span>
                                    <span class="user">{{list_model_historial_clinico.fk_persona.nombre}}</span>
                                    <p>"Ha calificado nuestro servicio con 4 estrellas."</p>
                                    <p class="color">
                                        <span><i class="icon-star3"></i></span>
                                        <span><i class="icon-star3"></i></span>
                                        <span><i class="icon-star3"></i></span>
                                        <span><i class="icon-star3"></i></span>
                                    </p>
                                </blockquote>
                                {%elif list_model_historial_clinico.fk_nps.respuesta == 3%}
                                <blockquote>
                                    <span class="img-user" style="color: #5ED615;"
                                          ><i class="fas fa-user-injured fa-6x"></i></span>
                                    <span class="user">{{list_model_historial_clinico.fk_persona.nombre}}</span>
                                    <p>"Ha calificado nuestro servicio con 3 estrellas."</p>
                                    <p class="color">
                                        <span><i class="icon-star3"></i></span>
                                        <span><i class="icon-star3"></i></span>
                                        <span><i class="icon-star3"></i></span>
                                    </p>
                                </blockquote>
                                {%elif list_model_historial_clinico.fk_nps.respuesta == 2%}
                                <blockquote>
                                    <span class="img-user" style="color: #5ED615;"
                                          ><i class="fas fa-user-injured fa-6x"></i></span>
                                    <span class="user">{{list_model_historial_clinico.fk_persona.nombre}}</span>
                                    <p>"Ha calificado nuestro servicio con 2 estrellas."</p>
                                    <p class="color">
                                        <span><i class="icon-star3"></i></span>
                                        <span><i class="icon-star3"></i></span>
                                    </p>
                                </blockquote>
                                {%else%}
                                <blockquote>
                                    <span class="img-user" style="color: #5ED615;"
                                          ><i class="fas fa-user-injured fa-6x"></i></span>
                                    <span class="user">{{list_model_historial_clinico.fk_persona.nombre}}</span>
                                    <p>"Ha calificado nuestro servicio con 1 estrella."</p>
                                    <p class="color">
                                        <span><i class="icon-star3"></i></span>
                                    </p>
                                </blockquote>
                                {%endif%}

                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock body%}

    <footer id="colorlib-footer" role="contentinfo">
        <div class="overlay"></div>
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-3 colorlib-widget">
                    <h3>ClinicaMedica Dr.Pineda</h3>
                    <p>Asegurar una conducta ética, transparencia y responsabilidad es clave en la creación,
                        medicamentos y otras tecnologías de salud para tu bienestar.</p>
                </div>
                <div class="col-md-3 col-md-push-1 colorlib-widget">
                    <h3>Navegacion</h3>
                    <ul class="colorlib-footer-links">
                        <li><a href="#"><i class="icon-check"></i> Departamentos</a></li>
                        <li><a href="#"><i class="icon-check"></i> Blog</a></li>
                        <li><a href="#"><i class="icon-check"></i> Contacto</a></li>
                        <li><a href="#"><i class="icon-check"></i> Servicios</a></li>
                        <li><a href="#"><i class="icon-check"></i> Personal</a></li>
                    </ul>
                </div>

                <div class="col-md-3 colorlib-widget">
                    <h3>Nuestros servicios</h3>
                    <ul class="colorlib-footer-links">
                        <li><a href="#"><i class="icon-check"></i> Apendice</a></li>
                        <li><a href="#"><i class="icon-check"></i> Electrocardiograma</a></li>
                        <li><a href="#"><i class="icon-check"></i> Satura de heridas</a></li>
                        <li><a href="#"><i class="icon-check"></i> Consulta general medica</a></li>
                        <li><a href="#"><i class="icon-check"></i> Vesicula</a></li>
                    </ul>
                </div>

                <div class="col-md-3 colorlib-widget">
                    <h3>Realiza una cita</h3>
                    <form class="contact-form">
                        <div class="form-group">
                            <label for="name" class="sr-only">Nombre</label>
                            <input type="name" class="form-control" id="name" placeholder="Nombre" disabled>
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" disabled>
                        </div>
                        <div class="form-group">
                            <label for="message" class="sr-only">Mensaje</label>
                            <textarea class="form-control" id="message" rows="3" placeholder="Mensaje"
                                      disabled></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="btn-submit" class="btn btn-primary btn-send-message btn-md"
                                   value="Enviar mensaje" disabled>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        derechos reservados | Dev. Carlos Iran Molina Muñoz <i class="fas fa-file-code"></i>
                        Modelo por <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </small>
                    <small class="block">Colaboracion de imagenes: <a href="http://unsplash.co/" target="_blank">Unsplash</a>
                        , <a
                                href="https://www.freepik.es/home" target="_blank">Freepik</a></small>
                </p>
            </div>
        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="{%static 'medicare/js/jquery.min.js'%}"></script>
<!-- jQuery Easing -->
<script src="{%static 'medicare/js/jquery.easing.1.3.js'%}"></script>
<!-- Bootstrap -->
<script src="{%static 'medicare/js/bootstrap.min.js'%}"></script>
<!-- Waypoints -->
<script src="{%static 'medicare/js/jquery.waypoints.min.js'%}"></script>
<!-- Stellar Parallax -->
<script src="{%static 'medicare/js/jquery.stellar.min.js'%}"></script>
<!-- Carousel -->
<script src="{%static 'medicare/js/owl.carousel.min.js'%}"></script>
<!-- Flexslider -->
<script src="{%static 'medicare/js/jquery.flexslider-min.js'%}"></script>
<!-- countTo -->
<script src="{%static 'medicare/js/jquery.countTo.js'%}"></script>
<!-- Magnific Popup -->
<script src="{%static 'medicare/js/jquery.magnific-popup.min.js'%}"></script>
<script src="{%static 'medicare/js/magnific-popup-options.js'%}"></script>
<!-- Sticky Kit -->
<script src="{%static 'medicare/js/sticky-kit.min.js'%}"></script>
<!-- Main -->
<script src="{%static 'medicare/js/main.js'%}"></script>
<!-- Fontawesome -->
<script src="https://kit.fontawesome.com/00f20dde71.js" crossorigin="anonymous"></script>
</body>
</html>

