{%extends 'index_dashboard.html'%}
{%load staticfiles%}

{%block link%}
{%endblock link%}

{%block body%}


<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registro de examen fisico</h4>
                    {%if tipo_examen_fisico == 1%}
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <h6 class="card-title">Presion arterial:</h6>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <div style="font-size: 0.5rem;">
                                                        <!--<i class="fas fa-asterisk fa-sm"></i>-->
                                                    </div>
                                                </span>
                                    </div>
                                    <input type="number" class="form-control" id="nametext"
                                           name="presion_arterial"
                                           aria-describedby="name" value="{{model_examen_fisico.presion_arterial}}"
                                           placeholder="Ej: 0, 1, 2.. 100">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <h6 class="card-title">Frecuencia cardiaca:</h6>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <div style="font-size: 0.5rem;">
                                                        <!--<i class="fas fa-asterisk fa-sm"></i>-->
                                                    </div>
                                                </span>
                                    </div>
                                    <input type="number" class="form-control" id="nametext"
                                           name="frecuencia_cardiaca"
                                           aria-describedby="name" value="{{model_examen_fisico.frecuencia_cardiaca}}"
                                           placeholder="Ej: 0, 1, 2.. 100">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <h6 class="card-title">Frecuencia respiratoria:</h6>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <div style="font-size: 0.5rem;">
                                                        <!--<i class="fas fa-asterisk fa-sm"></i>-->
                                                    </div>
                                                </span>
                                    </div>
                                    <input type="number" class="form-control" id="nametext"
                                           name="frecuencia_respitaroria"
                                           aria-describedby="name"
                                           value="{{model_examen_fisico.frecuencia_respitaroria}}"
                                           placeholder="Ej: 0, 1, 2.. 100">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <h6 class="card-title">Temperatura:</h6>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <div style="font-size: 0.5rem;">
                                                        <!--<i class="fas fa-asterisk fa-sm"></i>-->
                                                    </div>
                                                </span>
                                    </div>
                                    <input type="number" class="form-control" id="nametext"
                                           name="temperatura"
                                           aria-describedby="name" value="{{model_examen_fisico.temperatura}}"
                                           placeholder="Ej: 0, 1, 2.. 100">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <h6 class="card-title">Frecuencua cardiaca fetal:</h6>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <div style="font-size: 0.5rem;">
                                                        <!--<i class="fas fa-asterisk fa-sm"></i>-->
                                                    </div>
                                                </span>
                                    </div>
                                    <input type="number" class="form-control" id="nametext"
                                           name="frecuencia_cardiaca_fetal"
                                           aria-describedby="name"
                                           value="{{model_examen_fisico.frecuencia_cardiaca_fetal}}"
                                           placeholder="Ej: 0, 1, 2.. 100">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <h6 class="card-title">Impresion clinica:</h6>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <div style="font-size: 0.5rem;">
                                                        <i class="fas fa-asterisk fa-sm"></i>
                                                    </div>
                                                </span>
                                    </div>
                                    <textarea type="number" class="form-control" id="nametext"
                                              name="impresion_clinica"
                                              aria-describedby="name"
                                              placeholder="Ej: Descripcion del Doctor">{{model_examen_fisico.impresion_clinica}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%else%}
                    <div class="form-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <h6 class="card-title">Presion arterial:</h6>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <div style="font-size: 0.5rem;">
                                                        <!--<i class="fas fa-asterisk fa-sm"></i>-->
                                                    </div>
                                                </span>
                                    </div>
                                    <input type="number" class="form-control" id="nametext"
                                           name="presion_arterial"
                                           aria-describedby="name" value="{{model_examen_fisico.presion_arterial}}"
                                           placeholder="Ej: 0, 1, 2.. 100">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <h6 class="card-title">Frecuencia cardiaca:</h6>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <div style="font-size: 0.5rem;">
                                                        <!--<i class="fas fa-asterisk fa-sm"></i>-->
                                                    </div>
                                                </span>
                                    </div>
                                    <input type="number" class="form-control" id="nametext"
                                           name="frecuencia_cardiaca"
                                           aria-describedby="name" value="{{model_examen_fisico.frecuencia_cardiaca}}"
                                           placeholder="Ej: 0, 1, 2.. 100">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <h6 class="card-title">Frecuencia respiratoria:</h6>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <div style="font-size: 0.5rem;">
                                                        <!--<i class="fas fa-asterisk fa-sm"></i>-->
                                                    </div>
                                                </span>
                                    </div>
                                    <input type="number" class="form-control" id="nametext"
                                           name="frecuencia_respitaroria"
                                           aria-describedby="name"
                                           value="{{model_examen_fisico.frecuencia_respitaroria}}"
                                           placeholder="Ej: 0, 1, 2.. 100">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <h6 class="card-title">Temperatura:</h6>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <div style="font-size: 0.5rem;">
                                                        <!--<i class="fas fa-asterisk fa-sm"></i>-->
                                                    </div>
                                                </span>
                                    </div>
                                    <input type="number" class="form-control" id="nametext"
                                           name="temperatura"
                                           aria-describedby="name" value="{{model_examen_fisico.temperatura}}"
                                           placeholder="Ej: 0, 1, 2.. 100">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <h6 class="card-title">Impresion clinica:</h6>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <div style="font-size: 0.5rem;">
                                                        <i class="fas fa-asterisk fa-sm"></i>
                                                    </div>
                                                </span>
                                    </div>
                                    <textarea type="number" class="form-control" id="nametext"
                                              name="impresion_clinica"
                                              aria-describedby="name"
                                              placeholder="Ej: Descripcion del Doctor">{{model_examen_fisico.impresion_clinica}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Para js de validaciones de campos -->
<!--<script src="{% static 'js/validador.js'%}"></script>-->

{%endblock body%}